<div class="modal fade" id="proxy-add-modal" tabindex="-1" role="dialog" aria-labelledby="proxyAddModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content add-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">添加代理</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-proxy-form" class="needs-validation" novalidate action="/proxy/add" method="POST">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="proxy">地址:端口</label>
                            <textarea type="text" class="form-control" id="proxy" name="proxy" rows="12"
                                      placeholder="以;连接多个代理地址, 例如: 8.8.8.8:80; 4.4.4.4:8080"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-confirm-btn" class="btn btn-outline-info full" type="button">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>


    $("#add-proxy-btn").on('click', function () {
        $("#proxy-add-modal").modal('show');
    });

    $("#add-confirm-btn").on('click', function () {
        let params = {
            'btn': $(this),
            'success': refresh
        };

        AddProxy.post(params);
    });


</script>