<div class="modal fade" id="task-add-modal" tabindex="-1" role="dialog" aria-labelledby="taskAddModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content Sadd-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">添加任务</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-task-form" class="needs-validation" novalidate action="/task/add" method="POST">
                <div class="modal-body">
                    <div class="form-row">

                        <div class="col-md-12 mb-3">
                            <label for="name">任务名称*</label>
                            <input type="text" class="form-control f-data" id="name" name="name" placeholder="任务名称"
                                   required>
                            <div class="invalid-tooltip tooltip-server">
                                Server is require!
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <textarea type="text" class="form-control f-data" rows="24" id="code" name="code" placeholder="任务代码"
                                      required>
# -*-coding: utf-8 -*-


class Collection(object):

    def start(self, node, proxy):
        """
        收集数据
        :param node: if not None: 使用的节点
        :param proxy: if not None: 使用的代理
        """
        pass

    def config(self):
        """
        爬虫的配置
        """
        self.running_times = 1
        self.start_time= None

</textarea>
                            <div class="invalid-tooltip tooltip-server">
                                Server is require!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-confirm-btn" class="btn btn-outline-info full" type="button">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>


    $("#add-task-btn").on('click', function () {
        $("#task-add-modal").modal('show');
    });


    $("#add-confirm-btn").on('click', function () {

        let params = {
            'btn': $(this),
            'success': refresh
        };

        TaskAdd.post(params);
    });


</script>