<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column" style="font-size: 0.85rem;">
            <li class="nav-item">
                <a class="nav-link {% if link == 'master' %}active{% endif %}" href="/s/master/index.html">
                    <i class="fas fa-brain fa-fw"></i>
                    主控
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if link == 'activity' %}active{% endif %}" href="/s/activity/index.html">
                    <i class="fas fa-running fa-fw"></i>
                    活动
                </a>
            </li>
        </ul>
    </div>
</nav>
